@import "./fonts/Poppins/stylesheet.css";
@import "./fonts/SourceSansPro/stylesheet.css";
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.title,
.subtitle,
.header__logo {
  color: #333333;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 5.6rem;
  line-height: 6.4rem;
}
@media all and (max-width: 900px) {
  .title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.subtitle {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}
@media all and (max-width: 900px) {
  .subtitle {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  font-weight: 700;
  max-width: 17rem;
  border: 1px solid rgba(255, 255, 255, 0.2951);
  border-radius: 2.4rem;
}

.socials {
  display: flex;
  width: 100%;
  height: 3.2rem;
}
.socials__link:not(:last-child) {
  margin-right: 0.8rem;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.page__content {
  overflow: hidden;
  width: 100%;
  max-width: 144rem;
}

.start,
.advantage,
.blog,
.feedback,
.team,
.works,
.footer {
  padding: 0 13.5rem;
}

.start {
  width: 100%;
  height: 76.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 4.8rem;
  position: relative;
  z-index: 0;
}
@media all and (max-width: 1180px) {
  .start {
    padding: 3rem 2rem 4.8rem;
  }
}
@media all and (max-width: 900px) {
  .start {
    padding: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 0;
}
@media all and (max-width: 900px) {
  .header {
    width: 100%;
    background-color: white;
    color: #333333;
    padding: 1.6rem 1.5rem;
  }
}
.header__logo {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
@media all and (max-width: 900px) {
  .header__logo {
    color: #333333;
  }
}
@media all and (max-width: 700px) {
  .header__logo {
    font-size: 3rem;
  }
}
@media all and (max-width: 600px) {
  .header__logo {
    font-size: 2.7rem;
  }
}
@media all and (max-width: 500px) {
  .header__logo {
    font-size: 2.4rem;
  }
}
.header__nav {
  display: flex;
  width: 100%;
  max-width: 41.4rem;
}
@media all and (max-width: 900px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item:not(:last-child) {
  margin-right: 2.9rem;
}
.header__nav-item-link {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}
@media all and (min-width: 901px) {
  .header__burger {
    display: none;
  }
}
@media all and (max-width: 900px) {
  .header__burger {
    display: flex;
    align-items: center;
    padding: 0;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
  }
  .header__burger-icon {
    display: block;
    position: relative;
    width: 4rem;
    height: 0.6rem;
    background-color: #c86dd7;
    border: none;
  }
  .header__burger-icon::before {
    content: "";
    display: block;
    position: absolute;
    width: 4rem;
    height: 0.6rem;
    background-color: #c86dd7;
    top: -1rem;
    left: 0;
  }
  .header__burger-icon::after {
    content: "";
    display: block;
    position: absolute;
    width: 4rem;
    height: 0.6rem;
    background-color: #c86dd7;
    top: 1rem;
    left: 0;
  }
}
@media all and (max-width: 600px) {
  .header__burger {
    width: 3rem;
  }
  .header__burger-icon {
    width: 3rem;
    height: 0.4rem;
  }
  .header__burger-icon::before {
    width: 3rem;
    height: 0.4rem;
    top: -0.6rem;
  }
  .header__burger-icon::after {
    width: 3rem;
    height: 0.4rem;
    top: 0.7rem;
  }
}
@media all and (max-width: 500px) {
  .header__burger {
    width: 2rem;
    height: 1.5rem;
  }
  .header__burger-icon {
    width: 2rem;
    height: 0.3rem;
  }
  .header__burger-icon::before {
    width: 2rem;
    height: 0.3rem;
    top: -0.6rem;
  }
  .header__burger-icon::after {
    width: 2rem;
    height: 0.3rem;
    top: 0.6rem;
  }
}

.btn_header {
  color: white;
}
@media all and (max-width: 900px) {
  .btn_header {
    display: none;
  }
}

.explore {
  position: relative;
  display: flex;
  width: 100%;
  margin: 15rem 0 11.2rem;
  z-index: 0;
}
@media all and (max-width: 1180px) {
  .explore {
    margin-top: 10rem;
    margin-bottom: 15rem;
    justify-content: space-between;
  }
}
@media all and (max-width: 1024px) {
  .explore {
    margin-top: 5rem;
    margin-bottom: 24rem;
  }
}
@media all and (max-width: 900px) {
  .explore {
    flex-direction: column;
    padding: 0 1.5rem;
  }
}
@media all and (max-width: 700px) {
  .explore {
    margin-top: 2.3rem;
    margin-bottom: 28.8rem;
  }
}
.explore__text {
  width: 100%;
  max-width: 37rem;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1024px) {
  .explore__text {
    max-width: 33rem;
  }
}
@media all and (max-width: 951px) {
  .explore__text {
    margin-right: 3rem;
  }
}
@media all and (max-width: 900px) {
  .explore__text {
    width: 100%;
    max-width: 70rem;
    margin-right: 0;
  }
}
.explore__img {
  width: 100%;
  max-width: 70rem;
  position: absolute;
  top: -8.5rem;
  right: 0;
}
@media all and (max-width: 1350px) {
  .explore__img {
    max-width: 65rem;
    top: -5rem;
  }
}
@media all and (max-width: 1280px) {
  .explore__img {
    max-width: 58rem;
    top: 3rem;
  }
}
@media all and (max-width: 1024px) {
  .explore__img {
    top: 10rem;
  }
}
@media all and (max-width: 951px) {
  .explore__img {
    top: 12.5rem;
  }
}
@media all and (max-width: 900px) {
  .explore__img {
    max-width: 50rem;
    top: 15rem;
    right: 1.5rem;
  }
}
@media all and (max-width: 700px) {
  .explore__img {
    top: 24rem;
  }
}
@media all and (max-width: 600px) {
  .explore__img {
    top: 27rem;
    right: -6rem;
  }
}
@media all and (max-width: 500px) {
  .explore__img {
    right: -6rem;
  }
}
@media all and (max-width: 400px) {
  .explore__img {
    top: 34rem;
    right: -5rem;
  }
}
@media all and (max-width: 345px) {
  .explore__img {
    right: -5rem;
  }
}

.title_explore {
  font-size: 7.2rem;
  color: white;
  line-height: 7.2rem;
  margin-bottom: 2.6rem;
}
@media all and (max-width: 1024px) {
  .title_explore {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media all and (max-width: 900px) {
  .title_explore {
    width: 100%;
    max-width: 33rem;
  }
}
@media all and (max-width: 700px) {
  .title_explore {
    font-size: 5.6rem;
    margin-bottom: 2.3rem;
  }
}

.description_explore {
  color: white;
  font-weight: 600;
  margin-bottom: 3.4rem;
}
@media all and (max-width: 900px) {
  .description_explore {
    width: 100%;
    max-width: 33rem;
  }
}

.btn_explore {
  background-color: #ffc300;
  color: white;
}

.socials_start {
  justify-content: flex-end;
  z-index: 0;
}
@media all and (max-width: 900px) {
  .socials_start {
    padding: 0 1.5rem 3.2rem;
  }
}
@media all and (max-width: 600px) {
  .socials_start {
    justify-content: center;
  }
}

.start__cover {
  position: absolute;
  width: 100%;
  height: 118%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

@media all and (min-width: 376px) {
  .start__cover-mobile {
    display: none;
  }
}
@media all and (max-width: 376px) {
  .start__cover-mobile {
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: auto;
    object-fit: cover;
  }
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12.8rem 0 9.6rem 13.5rem;
}
@media all and (max-width: 1380px) {
  .about {
    padding-right: 13.5rem;
  }
}
@media all and (max-width: 1180px) {
  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
}
@media all and (max-width: 900px) {
  .about {
    padding: 4.5rem 1.4rem 4.8rem 1.5rem;
  }
}
.about__text {
  width: 100%;
  max-width: 49.8rem;
  margin-right: 4rem;
}
@media all and (max-width: 700px) {
  .about__text {
    margin-right: 0;
  }
}
.about__list {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1024px) {
  .about__list {
    margin-bottom: 7.4rem;
  }
}
.about__list-item {
  display: flex;
  flex-direction: column;
}
.about__list-item:not(:first-child) {
  margin-top: 2.4rem;
}
.about__list-item-head {
  display: flex;
  width: 100%;
  height: 2.4rem;
  max-width: 16.1rem;
  position: relative;
}
.about__list-item-head-name {
  font-size: 1.6rem;
  font-weight: 600;
  z-index: 2;
}
.about__list-item-head-icon {
  margin-left: 0.8rem;
  z-index: 2;
}
.about__list-item-description {
  font-size: 1.6rem;
  margin: 0.8rem 0 2.4rem;
  color: rgba(51, 51, 51, 0.5);
}
.about__picture {
  width: 100%;
  max-width: 70.5rem;
  position: relative;
}
@media all and (max-width: 1380px) {
  .about__picture {
    width: 55rem;
    height: 42.4rem;
  }
}
@media all and (max-width: 700px) {
  .about__picture {
    max-width: 35.5rem;
    height: 27.2rem;
  }
}
@media all and (max-width: 400px) {
  .about__picture {
    align-self: flex-end;
    margin-right: -1.4rem;
  }
}
@media all and (max-width: 350px) {
  .about__picture {
    max-width: 30rem;
  }
}
.about__picture-shadow {
  width: 100%;
  max-width: 70.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media all and (max-width: 1380px) {
  .about__picture-shadow {
    width: 55rem;
  }
}
@media all and (max-width: 700px) {
  .about__picture-shadow {
    max-width: 35.5rem;
  }
}
@media all and (max-width: 350px) {
  .about__picture-shadow {
    max-width: 30rem;
  }
}
.about__picture-img {
  width: 100%;
  max-width: 67.2rem;
  position: absolute;
  top: -3.2rem;
  left: 3.3rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media all and (max-width: 1380px) {
  .about__picture-img {
    width: 51.7rem;
  }
}
@media all and (max-width: 700px) {
  .about__picture-img {
    width: 100%;
    max-width: 33.9rem;
    top: -1.6rem;
    left: 1.6rem;
  }
}
@media all and (max-width: 350px) {
  .about__picture-img {
    max-width: 28.5rem;
    top: -1.6rem;
    left: 1.6rem;
  }
}
.about__picture-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -3.9rem;
  width: 100%;
  max-width: 11.6rem;
  height: 100%;
  max-height: 11.6rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.102);
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .about__picture-icon {
    max-width: 8rem;
    max-height: 8rem;
    left: 23.5rem;
  }
}
@media all and (max-width: 700px) {
  .about__picture-icon {
    max-width: 5.8rem;
    max-height: 5.8rem;
    left: 15.4rem;
  }
}
@media all and (max-width: 350px) {
  .about__picture-icon {
    left: 12.5rem;
    top: 40%;
  }
}
.about__picture-triangle {
  margin-left: 0.4rem;
}
@media all and (max-width: 1024px) {
  .about__picture-triangle {
    width: 100%;
    max-width: 1.8rem;
  }
}
@media all and (max-width: 700px) {
  .about__picture-triangle {
    width: 100%;
    max-width: 1.3rem;
  }
}

.title_about {
  margin-bottom: 5.5rem;
}
@media all and (max-width: 700px) {
  .title_about {
    margin-bottom: 4rem;
  }
}

.about__list-item-head_active::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0.4rem;
  background-color: #c86dd7;
  width: 100%;
  height: 0.8rem;
  z-index: 1;
}

.works {
  width: 100%;
  background-color: #fdf2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.1rem;
  padding-bottom: 4.8rem;
}
@media all and (max-width: 1180px) {
  .works {
    padding: 2.9rem 2rem 4.8rem;
  }
}
@media all and (max-width: 900px) {
  .works {
    padding: 2.9rem 1.4rem 4.8rem;
  }
}
.works__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
@media all and (max-width: 900px) {
  .works__text {
    flex-direction: column;
    margin-bottom: 4.6rem;
  }
}
.works__nav {
  width: 100%;
  display: flex;
  margin-bottom: 4.2rem;
  flex-wrap: wrap;
}
@media all and (max-width: 900px) {
  .works__nav {
    margin-bottom: 2.4rem;
  }
}
.works__nav-item-link {
  color: rgba(51, 51, 51, 0.5);
  font-size: 1.6rem;
}
.works__nav-item-link:hover {
  color: #333333;
}
.works__nav-item:not(:last-child) {
  margin-right: 3rem;
}
@media all and (max-width: 900px) {
  .works__nav-item:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
.works__gallery {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 4.8rem;
  position: relative;
}
@media all and (max-width: 900px) {
  .works__gallery {
    margin-top: 1.8rem;
    margin-bottom: 3.4rem;
    gap: 1.7rem;
  }
}
.works__gallery-img {
  width: 100%;
  max-width: 37rem;
}
.works__gallery-text {
  position: absolute;
  top: 66.54%;
  left: 36.92%;
}
@media all and (max-width: 1439px) {
  .works__gallery-text {
    display: none;
  }
}
.works__gallery-text-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}
.works__gallery-text-name {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}

.subtitle_works {
  width: 100%;
}

.title_works {
  width: 100%;
  max-width: 43.1rem;
  margin-right: 2rem;
}
@media all and (max-width: 900px) {
  .title_works {
    margin-right: 0;
    margin-bottom: 2.4rem;
  }
}

.description_works {
  width: 100%;
  max-width: 57rem;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.5);
}

.btn_works {
  background-color: #c86dd7;
  color: white;
}

.advantage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.1rem;
  padding-bottom: 8rem;
}
@media all and (max-width: 1170px) {
  .advantage {
    padding: 7.1rem 2rem 8rem;
  }
}
@media all and (max-width: 900px) {
  .advantage {
    padding: 3.8rem 1.4rem 3.2rem 1.5rem;
  }
}
.advantage__cards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 3rem;
}
.advantage__cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37rem;
  padding: 4rem 2.4rem 3.2rem;
  position: relative;
}
.advantage__cards-item:hover {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.102);
  transition-duration: 0.5s;
}
.advantage__cards-item:hover .advantage__cards-item-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background-color: #c86dd7;
  z-index: 1;
}
.advantage__cards-item-wrapper {
  display: flex;
  position: relative;
}
.advantage__cards-item-icon {
  margin-bottom: 1.3rem;
  width: 100%;
  max-width: 4.5rem;
  height: 100%;
  max-height: 4.5rem;
}
.advantage__cards-item-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
  color: #333333;
  z-index: 2;
}
.advantage__cards-item-description {
  width: 100%;
  max-width: 32.2rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.title_advantage {
  margin-bottom: 2.3rem;
}

.description_advantage {
  width: 100%;
  max-width: 57rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.team {
  position: relative;
  background-color: #3023ae;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: white;
  padding-top: 17.3rem;
  padding-bottom: 24rem;
  width: 100%;
  z-index: 1;
}
@media all and (max-width: 1170px) {
  .team {
    padding: 17.3rem 2rem 24rem;
  }
}
@media all and (max-width: 900px) {
  .team {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10rem 1.5rem 8rem 1.4rem;
  }
}
.team__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 47rem;
}
@media all and (max-width: 900px) {
  .team__text {
    z-index: 1;
  }
}
.team__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 43rem;
  height: 43rem;
  margin-right: 2rem;
  position: relative;
}
@media all and (max-width: 900px) {
  .team__photo {
    margin-right: 0;
    margin-bottom: 4.3rem;
  }
}
@media all and (max-width: 470px) {
  .team__photo {
    width: 100%;
    max-width: 29.7rem;
    height: 30.2rem;
  }
}
.team__photo-img {
  position: absolute;
}
.team__photo-img:first-child {
  opacity: 0.2;
  width: 100%;
  max-width: 37rem;
}
@media all and (max-width: 470px) {
  .team__photo-img:first-child {
    max-width: 29.7rem;
  }
}
.team__photo-img:nth-child(2) {
  top: 3%;
  left: 2%;
  width: 100%;
  max-width: 17rem;
}
@media all and (max-width: 470px) {
  .team__photo-img:nth-child(2) {
    top: -2%;
    left: -4%;
    max-width: 13.6rem;
  }
}
.team__photo-img:nth-child(3) {
  top: 17%;
  right: 1%;
}
@media all and (max-width: 470px) {
  .team__photo-img:nth-child(3) {
    top: 13%;
    right: -5%;
    width: 100%;
    max-width: 9.2rem;
  }
}
.team__photo-img:nth-child(4) {
  bottom: 15%;
  left: 5%;
}
@media all and (max-width: 470px) {
  .team__photo-img:nth-child(4) {
    bottom: 5%;
    left: 0%;
    width: 100%;
    max-width: 9.2rem;
  }
}
.team__photo-img:nth-child(5) {
  bottom: 4%;
  right: 20%;
}
@media all and (max-width: 470px) {
  .team__photo-img:nth-child(5) {
    bottom: -2%;
    right: 10%;
    width: 100%;
    max-width: 6.6rem;
  }
}
.team__photo-img:last-child {
  bottom: 31%;
  right: 3%;
}
@media all and (max-width: 470px) {
  .team__photo-img:last-child {
    bottom: 30%;
    right: -4%;
    width: 100%;
    max-width: 4rem;
  }
}
.team__circle-top {
  position: absolute;
  top: -2.9rem;
  left: 28.31%;
}
@media all and (max-width: 900px) {
  .team__circle-top {
    left: 32.5rem;
  }
}
.team__circle-left {
  position: absolute;
  bottom: -12.2rem;
  left: -11.9rem;
}
@media all and (max-width: 900px) {
  .team__circle-left {
    bottom: -21rem;
  }
}
.team__circle-bottom {
  position: absolute;
  bottom: -9rem;
  left: 50%;
}
@media all and (max-width: 900px) {
  .team__circle-bottom {
    bottom: -9.8rem;
    left: 30.5rem;
  }
}

.title_team {
  color: white;
  margin-bottom: 2.3rem;
}

.subtitle_team {
  color: white;
}

.description_team {
  color: white;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.btn_team {
  background-color: #ffc300;
  color: white;
}

.feedback {
  background-color: white;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7.1rem;
  padding-bottom: 9rem;
  width: 100%;
}
@media all and (max-width: 1200px) {
  .feedback {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (max-width: 900px) {
  .feedback {
    padding: 5.4rem 1.5rem 8rem 1.4rem;
  }
}
.feedback__cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 9.7rem;
  gap: 3rem;
}
@media all and (max-width: 1200px) {
  .feedback__cards {
    gap: 1.7rem;
  }
}
@media all and (max-width: 900px) {
  .feedback__cards {
    margin-bottom: 7.7rem;
  }
}
.feedback__cards-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 37rem;
  padding: 3.2rem 3.2rem 4.2rem;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.102);
  border-radius: 3px;
}
.feedback__cards-item-photo {
  width: 100%;
  max-width: 6.4rem;
  margin-bottom: 1.4rem;
}
.feedback__cards-item-text {
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 1.6rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
}
.feedback__cards-item-name {
  font-size: 1.6rem;
  font-weight: 600;
}
.feedback__company {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
}

.title_feedback {
  margin-bottom: 2.3rem;
}

.description_feedback {
  width: 100%;
  max-width: 57rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 6.4rem;
}

.blog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding-top: 14.4rem;
  padding-bottom: 8rem;
  background-color: #fdf2ff;
}
@media all and (max-width: 1280px) {
  .blog {
    padding-right: 5rem;
  }
}
@media all and (max-width: 1180px) {
  .blog {
    padding-left: 2rem;
  }
}
@media all and (max-width: 1024px) {
  .blog {
    flex-direction: column-reverse;
    align-items: center;
    padding: 4.5rem 3.2rem 4.9rem 1.4rem;
  }
}
.blog__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 47rem;
  margin-right: 10rem;
}
@media all and (max-width: 1024px) {
  .blog__text {
    margin-right: 0;
    margin-bottom: 6.7rem;
  }
}
@media all and (max-width: 700px) {
  .blog__text {
    margin-right: 0px;
  }
}
.blog__picture {
  position: relative;
  width: 100%;
  max-width: 57rem;
}
@media all and (max-width: 700px) {
  .blog__picture {
    max-width: 32.9rem;
  }
}
.blog__picture-shadow {
  width: 100%;
  max-width: 57rem;
}
@media all and (max-width: 700px) {
  .blog__picture-shadow {
    max-width: 32.9rem;
  }
}
.blog__picture-img {
  position: absolute;
  width: 100%;
  max-width: 57rem;
  top: -3.2rem;
  left: 3rem;
}
@media all and (max-width: 700px) {
  .blog__picture-img {
    max-width: 32.9rem;
    top: -1.9rem;
    left: 1.7rem;
  }
}
.blog__picture-card {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 54%;
  left: 7.8rem;
}
@media all and (max-width: 1280px) {
  .blog__picture-card {
    top: 45%;
  }
}
@media all and (max-width: 1024px) {
  .blog__picture-card {
    top: 55%;
  }
}
@media all and (max-width: 700px) {
  .blog__picture-card {
    top: 30%;
    left: 4.6rem;
  }
}
@media all and (max-width: 370px) {
  .blog__picture-card {
    top: 20%;
  }
}
.blog__picture-card-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
}
@media all and (max-width: 370px) {
  .blog__picture-card-title {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
  }
}
.blog__picture-card-description {
  font-size: 1.6rem;
  width: 100%;
  max-width: 47.4rem;
  margin-bottom: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}
@media all and (max-width: 370px) {
  .blog__picture-card-description {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
}
.blog__picture-card-person {
  display: flex;
  align-items: center;
}
.blog__picture-card-person-photo {
  margin-right: 2rem;
}
@media all and (max-width: 370px) {
  .blog__picture-card-person-photo {
    margin-right: 1.4rem;
  }
}
.blog__picture-card-person-name {
  font-size: 1.6rem;
  font-weight: 600;
}
@media all and (max-width: 370px) {
  .blog__picture-card-person-name {
    font-size: 1.4rem;
  }
}

.title_blog {
  margin-bottom: 2.3rem;
}

.description_blog {
  width: 100%;
  max-width: 47rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
}

.btn_blog {
  background-color: #c86dd7;
  color: white;
}

.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/last_background.png");
  background-size: cover;
  width: 100%;
}
@media all and (max-width: 650px) {
  .last {
    padding-top: 0;
  }
}
.last__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 13.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.102);
  padding-bottom: 16rem;
}
@media all and (max-width: 650px) {
  .last__contact {
    padding: 7rem 1.5rem 0px 1.4rem;
  }
}

.title_last {
  margin-bottom: 2.3rem;
}

.description_last {
  width: 100%;
  max-width: 57rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media all and (max-width: 650px) {
  .form {
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.4rem;
  }
}
.form__input-email {
  width: 100%;
  max-width: 37rem;
  margin-right: 3rem;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
}
@media all and (max-width: 650px) {
  .form__input-email {
    margin-bottom: 1.6rem;
    margin-right: 0;
  }
}
.form__input-submit {
  background-color: #c86dd7;
  color: white;
}

.footer {
  display: flex;
  width: 100%;
  padding-top: 6.1rem;
  padding-bottom: 7.4rem;
}
@media all and (max-width: 1180px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media all and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  width: 100%;
  max-width: 65rem;
  margin-right: 26rem;
}
@media all and (max-width: 900px) {
  .footer__nav {
    margin-right: 15rem;
  }
}
@media all and (max-width: 750px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 5.8rem;
  }
}
@media all and (max-width: 450px) {
  .footer__nav {
    flex-wrap: wrap;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  width: 10rem;
}
@media all and (max-width: 450px) {
  .footer__column {
    width: 17rem;
  }
}
.footer__column-title {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.footer__column-link {
  color: rgba(51, 51, 51, 0.5);
}
.footer__column-link:not(:last-child) {
  margin-bottom: 0.8rem;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer__copyright {
  font-size: 1.6rem;
  width: 23.9rem;
  color: rgba(51, 51, 51, 0.5);
}

.socials_footer {
  justify-content: flex-start;
  margin-bottom: 1.4rem;
}

@media all and (max-width: 900px) {
  .footer__column:not(:last-child) {
    margin-right: 5rem;
  }
}
@media all and (max-width: 450px) {
  .footer__column:not(:last-child) {
    margin-bottom: 4rem;
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
