@import "./styles/variables.scss";
@import "./styles/fonts.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.title,
.subtitle,
.header__logo {
  color: $black;
  font-weight: $font-weight-2;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.title {
  font-size: $font-size-8;
  line-height: 6.4rem;

  @media all and (max-width: 900px) {
    font-size: $font-size-7;
    line-height: 4.8rem;
  }
}

.subtitle {
  font-size: $font-size-4;
  text-transform: uppercase;
  margin-bottom: 1.8rem;

  @media all and (max-width: 900px) {
    font-size: $font-size-2;
  }
}

.description {
  font-size: $font-size-2;
  line-height: 2.4rem;
  color: $black;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: $font-size-2;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  font-weight: $font-weight-2;
  max-width: 17rem;
  border: 1px solid $lightgrey;
  border-radius: 2.4rem;
}

.socials {
  display: flex;
  width: 100%;
  height: 3.2rem;

  &__link:not(:last-child) {
    margin-right: 0.8rem;
  }
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__content {
    overflow: hidden;
    width: 100%;
    max-width: 144rem;
  }
}

.start,
.advantage,
.blog,
.feedback,
.team,
.works,
.footer {
  padding: 0 13.5rem;
}

@import "./styles/start.scss";
@import "./styles/about.scss";
@import "./styles/works.scss";
@import "./styles/advantage.scss";
@import "./styles/team.scss";
@import "./styles/feedback.scss";
@import "./styles/blog.scss";
@import "./styles/last.scss";
