.blog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  padding-top: 144px;
  padding-bottom:  80px;
  background-color: rgba(253, 242, 255, 1);

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;
    margin-right: 100px;
  }

  &__picture {
    position: relative;
    width: 100%;
    max-width: 570px;

    &-shadow {
      width: 100%;
      max-width: 570px;
    }

    &-img {
      position: absolute;
      width: 100%;
      max-width: 570px;
      top: -32px;
      left: 30px;
    }

    &-card {
      display: flex;
      flex-direction: column;
      color: $white;
      position: absolute;
      top: 54%;
      left: 78px;

      &-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 9px;
      }

      &-description {
        width: 100%;
        max-width: 474px;
        margin-bottom: 16px;
        color: rgba(255, 255, 255, 0.5);
      }

      &-person {
        display: flex;
        align-items: center;

        &-photo {
          margin-right: 20px;
        }

        &-name {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.title_blog {
  margin-bottom: 23px;
}

.description_blog {
  width: 100%;
  max-width: 470px;
  margin-bottom: 32px;
  font-weight: 600;
}

.btn_blog {
  background-color: $violet;
  color: $white;
}

@media all and (max-width: 1280px) {
  .blog {
    padding-right: 50px;

    &__picture {

      &-card {
        top: 45%;
      }
    }
  }
}

@media all and (max-width: 1180px) {
  .blog {
    padding-left: 20px;

    &__picture {
      &-card {
        top: 45%;
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .blog {
    flex-direction: column-reverse;
    align-items: center;
    padding: 45px 32px 49px 14px;

    &__text {
      margin-right: 0;
      margin-bottom: 67px;
    }

    &__picture {
      &-card {
        top: 55%;
      }
    }
  }
}

@media all and (max-width: 700px) {
    .blog {

        &__text {
            margin-right: 0px;
          }

        &__picture {
            width: 100%;
            max-width: 329px;

            &-shadow {
                width: 100%;
                max-width: 329px;
              }
          
              &-img {
                position: absolute;
                width: 100%;
                max-width: 329px;
                top: -19px;
                left: 17px;
              }

              &-card {
                  top: 30%;
                  left: 46px;
              }
        }
    }
}

@media all and (max-width: 370px) {
    .blog {

        &__picture {

            &-card {
                top: 20%;

                &-title {
                    font-size: 18px;
                    margin-bottom: 6px;
                  }
            
                  &-description {
                      font-size: 14px;
                    margin-bottom: 8px;
                    color: rgba(255, 255, 255, 0.5);
                  }
            
                  &-person {
            
                    &-photo {
                      margin-right: 14px;
                    }
            
                    &-name {
                      font-size: 14px;
                      font-weight: 600;
                    }
                }
            }
        }
    }
}