.start {
  width: 100%;
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: $white;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 48px;
  position: relative;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 0;

  &__logo {
    font-size: 40px;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    width: 100%;
    max-width: 414px;

    &-item:not(:last-child) {
      margin-right: 29px;
    }

    &-item-link {
      color: $white;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &_btn {
    color: $white;
  }

  &__burger {
    @media all and (min-width: 901px) {
      display: none;

    }
  }
}

.explore {
  position: relative;
  display: flex;
  width: 100%;
  margin: 150px 0 112px;
  z-index: 0;

  &__text {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;

    .title_explore {
      font-size: 72px;
      line-height: 72px;
      margin-bottom: 26px;
    }

    .description_explore {
      font-weight: 600;
      margin-bottom: 34px;
    }

    .btn_explore {
      background-color: $gold;
      color: $white;
    }
  }

  &__img {
    width: 100%;
    max-width: 700px;
    position: absolute;
    top: -85px;
    right: 0;

    @media all and (max-width: 1350px) {
      max-width: 650px;
      top: -50px;
    }

    @media all and (max-width: 1280px) {
      max-width: 580px;
      top: 30px;
    }
  }
}

.socials_start {
  justify-content: flex-end;
  z-index: 0;
}

.start__cover {
  position: absolute;
  width: 100%;
  height: 118%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.start__cover-mobile {
  @media all and (min-width: 376px) {
    display: none;
  }

  @media all and (max-width: 376px) {
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: auto;
    object-fit: cover;
}
  }

@media all and (max-width: 1180px) {
  .start {
    padding: 30px 20px 48px;
  }

  .explore {
    margin-top: 100px;
    margin-bottom: 150px;
    justify-content: space-between;
  }
}

@media all and (max-width: 1024px) {
  .explore {
    margin-top: 50px;
    margin-bottom: 240px;

    &__text {
      max-width: 330px;
      
    }

    &__img {
      top: 100px;
    }

    .title_explore {
      font-size: 60px;
      line-height: 60px;
    }
  }
}

@media all and (max-width: 951px) {
  .explore {
    &__text {
      margin-right: 30px;
    }

    &__img {
      top: 125px;
    }
  }
}

@media all and (max-width: 900px) {
  .start {
    padding: 0;
    
  }

  .header {
    width: 100%;
    background-color: $white;
    color: $black;
    padding: 16px 15px;

    &__nav {
      display: none;
    }

    &_btn {
      display: none;
    }

    &__burger {
      display: flex;
      align-items: center;
      padding: 0;
      width: 40px;
      height: 30px;
      cursor: pointer;

      &-icon {
        display: block;
        position: relative;
        width: 40px;
        height: 6px;
        background-color: $violet;
        border: none;

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 40px;
          height: 6px;
          background-color: $violet;
          top: -10px;
          left: 0;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 40px;
          height: 6px;
          background-color: $violet;
          top: 10px;
          left: 0;
        }
      }
    }
  }

  .explore {
    flex-direction: column;
    padding: 0 15px;

    &__text {
      width: 100%;
      max-width: 700px;
      margin-right: 0;
    }

    &__img {
      max-width: 500px;
      top: 150px;
      right: 15px;
    }

    .title_explore {
      width: 100%;
      max-width: 330px;
    }

    .description_explore {
      width: 100%;
      max-width: 330px;
    }
  }

  .socials_start {
    padding: 0 15px 32px;
  }
}

@media all and (max-width: 700px) {
  .header {

    &__logo {
      font-size: 30px;
    }
  }

  .explore {
    margin-top: 23px;
    margin-bottom: 288px;

    &__img {
      top: 240px;
    }

    .title_explore {
      font-size: 56px;
      margin-bottom: 23px;
    }
  }
}

@media all and (max-width: 600px) {
  .header {


    &__logo {
      font-size: 27px;
    }

    &__burger {
      display: flex;
      align-items: center;
      padding: 0;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &-icon {
        width: 30px;
        height: 4px;

        &::before {
          width: 30px;
          height: 4px;
          top: -6px;
        }

        &::after {
          width: 30px;
          height: 4px;
          top: 7px;
        }
      }
    }
  }

  .explore {

    &__image {
      width: 100%;
      max-width: 500px;
      height: 250px;
    }

    &__img {
      top: 270px;
      right: -60px;
    }
  }

  .socials_start {
    justify-content: center;
  }
}

@media all and (max-width: 500px) {
  .header {


    &__logo {
      font-size: 24px;
    }

    &__burger {
      width: 20px;
      height: 15px;

      &-icon {
        width: 20px;
        height: 3px;

        &::before {
          width: 20px;
          height: 3px;
          top: -6px;
        }

        &::after {
          width: 20px;
          height: 3px;
          top: 6px;
        }
      }
    }
  }

  .explore {

    &__img {
      right: -60px;
    }
  }
}

@media all and (max-width: 400px) {
  .explore {

    &__img {
      top: 340px;
      right: -50px;
    }
  }
}

@media all and (max-width: 345px) {
  .explore {

    &__img {
      right: -50px;

    }
  }
}

