.team {
    position: relative;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: $white;
    padding-top: 173px;
    padding-bottom:  240px;
    width: 100%;
    z-index: 1;


    &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 470px;
    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 430px;
        height: 430px;
        margin-right: 20px;
        position: relative;

        &-img {
            position: absolute;
        }

        &-img:first-child {
            opacity: 0.2;
            width: 100%;
            max-width: 370px;
        }

        &-img:nth-child(2){
            top: 3%;
            left: 2%;
            width: 100%;
            max-width: 170px;
        }

        &-img:nth-child(3){
            top: 17%;
            right: 1%;   
        }

        &-img:nth-child(4){
            bottom: 15%;
            left: 5%; 
        }
        
        &-img:nth-child(5){
            bottom: 4%;
            right: 20%;  
        }

        &-img:last-child {
            bottom: 31%;
            right: 3%;
        }
    }

    &__circle-top {
        position: absolute;
        top: -29px;
        left: 28.31%;
    }

    &__circle-left {
        position: absolute;
        bottom: -122px;
        left: -119px;
    }

    &__circle-bottom {
        position: absolute;
        bottom: -90px;
        left: 50%;
    }
}

.title_team {
    margin-bottom: 23px;
}

.description_team {
    font-weight: 600;
    margin-bottom: 32px;
}

.btn_team {
    background-color: $gold;
    color: $white;
}

@media all and (max-width: 1170px) {
    .team {
        padding: 173px 20px 240px;
    }
}

@media all and (max-width: 900px) {
    .team {
        flex-direction: column-reverse;
        align-items: center;
        padding: 100px 15px 80px 14px;

        &__text {
            z-index: 1;
        }

        &__photo {
            margin-right: 0;
            margin-bottom: 43px;
        }

        &__circle-top {
            position: absolute;
            top: -29px;
            left: 325px;
        }

        &__circle-left {
            position: absolute;
            bottom: -210px;
            left: -119px;
        }
    
        &__circle-bottom {
            position: absolute;
            bottom: -98px;
            left: 305px;
        }
    }

}

@media all and (max-width: 470px) {
    .team {

        &__photo {
            width: 100%;
            max-width: 297px;
            height: 302px;
            margin-bottom: 43px;
    
            &-img {
                position: absolute;
            }
    
            &-img:first-child {
                opacity: 0.2;
                width: 100%;
                max-width: 297px;
            }
    
            &-img:nth-child(2){
                top: -2%;
                left: -4%;
                width: 100%;
                max-width: 136px;
            }
    
            &-img:nth-child(3){
                top: 13%;
                right: -5%;  
                width: 100%;
                max-width: 92px; 
            }
    
            &-img:nth-child(4){
                bottom: 5%;
                left: 0%; 
                width: 100%;
                max-width: 92px; 
            }
            
            &-img:nth-child(5){
                bottom: -2%;
                right: 10%;  
                width: 100%;
                max-width: 66px;
            }
    
            &-img:last-child {
                bottom: 30%;
                right: -4%;
                width: 100%;
                max-width: 40px;
            }
        }
    
    }
}