.feedback {
  background-color: $white;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 7.1rem;
  padding-bottom: 9rem;
  width: 100%;

  @media all and (max-width: 1200px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media all and (max-width: 900px) {
    padding: 5.4rem 1.5rem 8rem 1.4rem;
  }

  &__cards {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 9.7rem;
    gap: 3rem;

    @media all and (max-width: 1200px) {
      gap: 1.7rem;
    }

    @media all and (max-width: 900px) {
      margin-bottom: 7.7rem;
    }
  }

  &__cards-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 37rem;

    padding: 3.2rem 3.2rem 4.2rem;
    box-shadow: 16px 16px 48px $darkgrey;
    border-radius: 3px;
  }

  &__cards-item-photo {
    width: 100%;
    max-width: 6.4rem;
    margin-bottom: 1.4rem;
    border-radius: 50%;
  }

  &__cards-item-text {
    color: $mediumgrey;
    margin-bottom: 1.6rem;
    line-height: 2.4rem;
    font-size: $font-size-2;
  }

  &__cards-item-name {
    font-size: $font-size-2;
    font-weight: $font-weight-1;
    color: $black;
  }

  &__company {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__company-img {
    margin-right: auto;
    margin-left: auto;
  }
}

.title_feedback {
  margin-bottom: 2.3rem;
}

.description_feedback {
  width: 100%;
  max-width: 57rem;
  text-align: center;
  font-weight: $font-weight-1;
  margin-bottom: 6.4rem;
}
