.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/last_background.png");
  background-size: cover;
  width: 100%;

  @media all and (max-width: 650px) {
    padding-top: 0;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 13.5rem;
    border-bottom: 1px solid $darkgrey;
    padding-bottom: 16rem;

    @media all and (max-width: 650px) {
      padding: 7rem 1.5rem 0px 1.4rem;
    }
  }
}

.title_last {
  margin-bottom: 2.3rem;
}

.description_last {
  width: 100%;
  max-width: 57rem;
  text-align: center;
  font-weight: $font-weight-1;
  margin-bottom: 3.2rem;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;

  @media all and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.4rem;
  }

  &__input-email {
    width: 100%;
    max-width: 37rem;
    margin-right: 3rem;
    border: 1px solid $grey;
    border-radius: 3px;
    padding: 1.2rem 1.6rem;
    font-size: $font-size-2;

    @media all and (max-width: 650px) {
      margin-bottom: 1.6rem;
      margin-right: 0;
    }
  }

  &__input-submit {
    background-color: $violet;
    color: $white;
  }
}

.footer {
  display: flex;
  width: 100%;
  padding-top: 6.1rem;
  padding-bottom: 7.4rem;

  @media all and (max-width: 1180px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media all and (max-width: 750px) {
    flex-direction: column;
  }

  &__nav {
    display: flex;
    font-size: $font-size-2;
    width: 100%;
    max-width: 65rem;
    margin-right: auto;

    @media all and (max-width: 900px) {
      margin-right: auto;
    }

    @media all and (max-width: 750px) {
      margin-right: 0;
      margin-bottom: 5.8rem;
    }

    @media all and (max-width: 450px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-right: auto;

    @media all and (max-width: 450px) {
      width: 17rem;
    }
  }

  &__column-title {
    margin-bottom: 0.8rem;
    font-weight: $font-weight-1;
    color: $black;
  }

  &__column-link {
    color: $mediumgrey;
  }

  &__column-link:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__copyright {
    font-size: $font-size-2;
    width: 23.9rem;
    color: $mediumgrey;
  }
}

.socials_footer {
  justify-content: flex-start;
  margin-bottom: 1.4rem;
}

@media all and (max-width: 450px) {
  .footer__column:not(:last-child) {
    margin-bottom: 4rem;
  }
}
