$white: rgba(255, 255, 255);
$black: rgba(51, 51, 51);
$blue: rgba(48, 35, 174);
$violet: rgba(200, 109, 215);
$gold: rgba(255, 195, 0);
$beige: rgba(253, 242, 255, 1);
$grey: rgba(218, 218, 218, 1);
$lightgrey: rgba(255, 255, 255, 0.2951);
$mediumgrey: rgba(51, 51, 51, 0.5);
$darkgrey: rgba(0, 0, 0, 0.102);
$opwhite: rgba(255, 255, 255, 0.5);